body {
    text-align: center;
    margin-top: 5rem;
    font-family: "Roboto Condensed", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    padding: 0.5rem;
  }

  div {
      margin: 0 auto;
      border: 0.25rem dashed #ccc;
      border-radius: 1rem;
      max-width: fit-content;
      padding: 0.5rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  h1 {
    font-size: 1vw;
  }

  h2 {
    font-size: 2vw;
  }

  h3 {
    font-size: 2.5vw;
  }

  h4 {
    font-size: 3vw;
  }

  h5 {
    font-size: 3.5vw;
  }

  h6 {
    font-size: 7vw;
  }

  p {
    font-size: 1vw;
    font-weight: 700;
    margin-top: 0.5rem;
  }

  a {
    color: #FE7A71;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }