@use 'colors' as *;

// Screen size for breakpoints
$break-small: 512px;
$break-medium: 750px;
$break-medium-large: 800px;
$break-large: 1220px;
$break-extra-large: 1460px;
$break-super-duper-large: 1792px;

// Breakpoints
@mixin breakpoint($break) {
  @if $break == 'small' {
    @media (min-width: $break-small) {
      @content;
    }
  } @else if $break == 'medium' {
    @media (min-width: $break-medium) {
      @content;
    }
  } @else if $break == 'medium-large' {
    @media (min-width: $break-medium-large) {
      @content;
    }
  } @else if $break == 'large' {
    @media (min-width: $break-large) {
      @content;
    }
  } @else if $break == 'extra-large' {
    @media (min-width: $break-extra-large) {
      @content;
    }
  } @else if $break == 'super-duper-large' {
    @media (min-width: $break-super-duper-large) {
      @content;
    }
  } @else {
    @media ($break) {
      @content;
    }
  }
}

// Cards
@mixin card {
  background-color: $card-bg-color;
  color: $card-text-color;
  border-radius: 7px;
  transition: 0.5s;
  box-shadow: 5px 5px 10px $card-shadow-color;

  &:hover {
    background-color: $card-hover-bg-color;
  }
}

@mixin section-card {
  background-color: $section-card-bg-color;
  border-radius: 7px;
}