@use 'partials' as *;

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2rem;
  padding-bottom: 2rem;
  flex-direction: column;
}

.container {
  margin: 2rem auto;
  border: 0.25rem dashed $outside-border-color;
  border-radius: 1rem;
  width: 90%;
  padding: 0.5rem;

  @include breakpoint('medium') {
    border: 0.25rem dashed $section-card-bg-color;
    width: 95%;
  }

  @include breakpoint('medium-large') {
    width: 98%;
  }
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  grid-area: h;

  @include breakpoint('small') {
    justify-content: center;
  }

  h1 {
    width: min-content;
    line-height: 2rem;
    margin: 0;

    @include breakpoint('small') {
      width: fit-content;
    }
  }
}

.header-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

  @include breakpoint('small') {
    flex-wrap: nowrap;
  }

  & > img {
    border-radius: 50%;
    margin: 0.5rem;
  }
}

.header-heading-container {
  position: relative;
}

.header-img-subheading {
  position: absolute;
  bottom: -17px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
  max-width: 250px;
  margin: 0;

  @include breakpoint('small') {
    bottom: -40px;
    left: 0;
    transform: none;
    opacity: 0.7;
  }
}

main {
  grid-area: m;

  @include breakpoint('medium') {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
      "p t"
      "p t"
      "p d"
      "s d"
      "c c";
  }

  @include breakpoint('medium-large') {
    grid-template-areas: 
      "p t"
      "p d"
      "p s"
      "c c";
  }

  @include breakpoint('large') {
    grid-template-areas: 
      "p t"
      "p d"
      "s c";
  }

  @include breakpoint('extra-large') {
    grid-template-columns: 5fr 3fr 3fr 2fr 2fr;
    grid-template-areas: 
      "p t d s c"
      "p t d s c"
      "p t d s c";
  }
}

.tool-section {
  grid-area: t;
}

.project-section {
  grid-area: p;

  h2 {
    grid-area: ph;
  }

  .client-project-subsection {
    grid-area: pc;
  }

  .personal-project-subsection {
    grid-area: pp;
  }

  @include breakpoint('super-duper-large') {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "ph ph"
      "pc pp";
  }

  @include breakpoint('what-the-heck-large') {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "ph ph ph"
      "pc pp pp";
  }
}

.deploy-section {
  grid-area: d;
}

.social-section {
  grid-area: s;
}

.contact-section {
  grid-area: c;
}

section {
  @include section-card;
  margin: 1rem;
  padding: 1rem;
  text-align: center;

  div {
    width: 100%;
  }
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
}

li {
  padding: 24px;
  margin: 0;
  text-align: center;
}

li > p {
  font-size: 0.9rem;
  margin-top: 1rem;
}

svg {
  width: auto;
  height: 50px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: fit-content;
  background-color: $tooltip-bg-color;
  color: $tooltip-text-color;
  text-align: center;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.5s;
  font-weight: bold;
  white-space: nowrap;
}

.project-link {
  @include card;

  display: inline-block;
  padding: 1rem;
  text-decoration: none;
  font-weight: bold;
  width: 75%;
  max-width: 200px;
  height: fit-content;
  text-align: center;
  margin: 0;
}

.project-link p {
  opacity: 1;
  transition: 0.5s;
  font-size: 0.8rem;
  color: $card-text-color;
  margin-bottom: 0;
  font-weight: lighter;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.project-link:hover p {
  opacity: 0;
}

.details-link {
  @include card;
  
  text-decoration: none;
  padding: 0.25rem 0.5rem 0.4rem 0.5rem;
}

.project-list,
.client-list {

  li > p {
    display: flex;
    justify-content: space-evenly;
  }
} 

h3 {
  text-align: center;
}

.social-list,
.contact-list {
  justify-content: center;

  @include breakpoint('extra-large') {
    flex-direction: column;
  }

  @include breakpoint('ridiculous-large') {
    flex-direction: row;
  }
}

.tool-list,
.deploy-list,
.social-list,
.contact-list {
  li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.tool-section,
.deploy-section,
.social-section,
.contact-section {
  @include breakpoint('extra-large') {
    height: fit-content;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1rem 0;

  @include breakpoint('small') {
    flex-direction: row;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 1rem;
  }
}

.contact-list li:first-child {
  padding-top: 30px;
  padding-bottom: 30px;
}
