@use 'partials' as *;

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  margin: 0 2rem;
  padding-bottom: 1rem;
}

.container {
  margin: 2rem auto;
  border: 0.25rem dashed $outside-border-color;
  border-radius: 1rem;
  width: 95%;
  padding: 0.5rem;
  // max-width: 992px;

  @include breakpoint('medium') {
    border: 0.25rem dashed $section-card-bg-color;
  }

  @include breakpoint('large') {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
      "h h h h"
      "m m m m"
      "m m m m";
  }
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-area: h;

  @include breakpoint('small') {
    justify-content: start;
  }

  @include breakpoint('medium') {
    justify-content: center;
  }

  h1 {
    width: min-content;

    @include breakpoint('small') {
      width: fit-content;
    }
  }

  img {
    border-radius: 50%;
    margin: 0.5rem;
  }
}

main {
  grid-area: m;

  @include breakpoint('medium') {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
      "t p"
      "d p"
      "s s"
      "c c";
  }

  @include breakpoint('medium-large') {
    grid-template-areas: 
      "t p"
      "d p"
      "s p"
      "c c";
  }

  @include breakpoint('extra-large') {
    grid-template-columns: 5fr 3fr 2fr 2fr 2fr;
    grid-template-areas: 
      "p t d s c"
      "p t d s c"
      "p t d s c";
  }
}

.tool-section {
  grid-area: t;
}

.project-section {
  grid-area: p;

  h2 {
    grid-area: ph;
  }

  .client-project-subsection {
    grid-area: pc;
  }

  .personal-project-subsection {
    grid-area: pp;
  }

  @include breakpoint('super-duper-large') {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "ph ph"
      "pc pp";
  }
}

.deploy-section {
  grid-area: d;
}

.social-section {
  grid-area: s;
}

.contact-section {
  grid-area: c;
}

section {
  @include breakpoint('medium') {
    @include section-card;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
  }
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 95%;
  margin: 0 auto;
  max-width: 527px;
}

li {
  margin: 0.5rem;
  text-align: center;
}

li > p {
  font-size: 0.9rem;
  margin-top: 1rem;
}

svg {
  width: auto;
  height: 50px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: fit-content;
  background-color: $tooltip-bg-color;
  color: $tooltip-text-color;
  text-align: center;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.5s;
  font-weight: bold;
  white-space: nowrap;
}

.project-link {
  @include card;

  display: block;
  padding: 1rem;
  text-decoration: none;
  font-weight: bold;
  width: 100%;
  max-width: 200px;
  height: fit-content;
  text-align: center;
}

.project-link p {
  opacity: 1;
  transition: 0.5s;
  font-size: 0.8rem;
  color: $card-text-color;
  margin-bottom: 0;
  font-weight: lighter;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.project-link:hover p {
  opacity: 0;
}

.details-link {
  @include card;
  
  text-decoration: none;
  padding: 0.25rem 0.5rem 0.4rem 0.5rem;
}

.social-list,
.deploy-list,
.contact-list {
  justify-content: left;
}

.project-list,
.client-list {

  li > p {
    display: flex;
    justify-content: space-evenly;
  }
} 

h3 {
  text-align: center;
}

.deploy-list,
.social-list,
.contact-list {
  @include breakpoint('medium') {
    justify-content: center;
  }

  @include breakpoint('extra-large') {
    flex-direction: column;
  }
}

.tool-section,
.deploy-section,
.social-section,
.contact-section {
  @include breakpoint('extra-large') {
    height: fit-content;
  }
}
