body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2rem;
  padding-bottom: 2rem;
  flex-direction: column;
}

.container {
  margin: 2rem auto;
  border: 0.25rem dashed rgba(204, 204, 204, 0.432);
  border-radius: 1rem;
  width: 90%;
  padding: 0.5rem;
}
@media (min-width: 750px) {
  .container {
    border: 0.25rem dashed rgba(204, 204, 204, 0.432);
    width: 95%;
  }
}
@media (min-width: 1230px) {
  .container {
    width: 98%;
  }
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  grid-area: h;
}
@media (min-width: 512px) {
  header {
    justify-content: center;
  }
}
header h1 {
  width: min-content;
  line-height: 2rem;
  margin: 0;
}
@media (min-width: 512px) {
  header h1 {
    width: fit-content;
  }
}

.header-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 512px) {
  .header-container {
    flex-wrap: nowrap;
  }
}
.header-container > img {
  border-radius: 50%;
  margin: 0.5rem;
}

.header-heading-container {
  position: relative;
}

.header-img-subheading {
  position: absolute;
  bottom: -17px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
  max-width: 250px;
  margin: 0;
}
@media (min-width: 512px) {
  .header-img-subheading {
    bottom: -40px;
    left: 0;
    transform: none;
    opacity: 0.7;
  }
}

main {
  grid-area: m;
}
@media (min-width: 750px) {
  main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "p t" "p t" "p d" "s d" "c c";
  }
}
@media (min-width: 1230px) {
  main {
    grid-template-areas: "p t" "p d" "p s" "c c";
  }
}
@media (min-width: 1378px) {
  main {
    grid-template-areas: "p t" "p d" "s c";
  }
}
@media (min-width: 1460px) {
  main {
    grid-template-columns: 5fr 3fr 3fr 2fr 2fr;
    grid-template-areas: "p t d s c" "p t d s c" "p t d s c";
  }
}

.tool-section {
  grid-area: t;
}

.project-section {
  grid-area: p;
}
.project-section h2 {
  grid-area: ph;
}
.project-section .client-project-subsection {
  grid-area: pc;
}
.project-section .personal-project-subsection {
  grid-area: pp;
}
@media (min-width: 1792px) {
  .project-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "ph ph" "pc pp";
  }
}
@media (min-width: 2920px) {
  .project-section {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "ph ph ph" "pc pp pp";
  }
}

.deploy-section {
  grid-area: d;
}

.social-section {
  grid-area: s;
}

.contact-section {
  grid-area: c;
}

section {
  background-color: rgba(204, 204, 204, 0.432);
  border-radius: 7px;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}
section div {
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
}

li {
  padding: 24px;
  margin: 0;
  text-align: center;
}

li > p {
  font-size: 0.9rem;
  margin-top: 1rem;
}

svg {
  width: auto;
  height: 50px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: fit-content;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.5s;
  font-weight: bold;
  white-space: nowrap;
}

.project-link {
  background-color: #555555;
  color: white;
  border-radius: 7px;
  transition: 0.5s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
  font-weight: bold;
  width: 75%;
  max-width: 200px;
  height: fit-content;
  text-align: center;
  margin: 0;
}
.project-link:hover {
  background-color: black;
}

.project-link p {
  opacity: 1;
  transition: 0.5s;
  font-size: 0.8rem;
  color: white;
  margin-bottom: 0;
  font-weight: lighter;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.project-link:hover p {
  opacity: 0;
}

.details-link {
  background-color: #555555;
  color: white;
  border-radius: 7px;
  transition: 0.5s;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
  text-decoration: none;
  padding: 0.25rem 0.5rem 0.4rem 0.5rem;
}
.details-link:hover {
  background-color: black;
}

.project-list li > p,
.client-list li > p {
  display: flex;
  justify-content: space-evenly;
}

h3 {
  text-align: center;
}

.social-list,
.contact-list {
  justify-content: center;
}
@media (min-width: 1460px) {
  .social-list,
.contact-list {
    flex-direction: column;
  }
}
@media (min-width: 1900px) {
  .social-list,
.contact-list {
    flex-direction: row;
  }
}

.tool-list li,
.deploy-list li,
.social-list li,
.contact-list li {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1460px) {
  .tool-section,
.deploy-section,
.social-section,
.contact-section {
    height: fit-content;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1rem 0;
}
@media (min-width: 512px) {
  footer {
    flex-direction: row;
  }
}
footer div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 1rem;
}

.contact-list li:first-child {
  padding-top: 30px;
  padding-bottom: 30px;
}

/*# sourceMappingURL=main.css.map */
